*.suo
*.user
bin/
obj/
packages/

*.map
/CurlyBraceParser/TestResults/*.mdf
/CurlyBraceParser/TestResults/*.ldf
/TestWebAppClassic/Web.Debug.config
/TestWebAppClassic/Web.Release.config

/TestWebAppClassic/tsp_script
/TestWebAppClassic/.idea
/WebEssentials-Settings.json
/tspBuild/.idea
logs
