<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="tspSettingsGroup">
      <section
        name="tspSettings"
        type="tspHandler.tspConfigSettings, tspHandler"
        allowLocation="true"
        allowDefinition="Everywhere"
      />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="StaticPathMappings" value="../tsp_script=>../../tspHandler/tsp_script"/>
  </appSettings>

  <tspSettingsGroup>
    <tspSettings serverSideIncludeSelector="iframe[data-mode='server-side-only'],*[ng-include][src][data-mode='server-side-only']">
    </tspSettings>
  </tspSettingsGroup>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <!--<hostingEnvironment shadowCopyBinAssemblies="false"/>-->
  </system.web>
  <system.webServer>
    <handlers>
      <add name="tspHandler" verb="*" path="*.tsp.html" type="tspHandler.tspHandler, tspHandler"/>
      <add name="tspModelHandler" verb="*" path="model.tsp.js" type="tspHandler.tspModelHandler, tspHandler"/>
      <add name="tspDocHandler" verb="*" path="*.ts.doc" type="tspHandler.tsDocHandler, tspHandler"/>
    </handlers>
  
  </system.webServer>
</configuration>